@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --background: 210 3% 15%;
        --foreground: 0 0% 98%;
        --card: 215 5% 23%;
        --card-foreground: 0 0% 98%;
        --popover: 215 5% 23%;
        --popover-foreground: 0 0% 98%;
        --primary: 93 54% 48%;
        --primary-foreground: 0 0% 100%;
        --secondary: 82 50% 36%;
        --secondary-foreground: 0 0% 98%;
        --muted: 213 5% 43%;
        --muted-foreground: 240 5% 84%;
        --accent: 213 5% 43%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 0 0% 98%;
        --border: 214 5% 33%;
        --input: 214 5% 33%;
        --ring: 93 54% 48%;
        --radius: 0.5rem;
    }
    .light {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 93 54% 48%;
        --primary-foreground: 0 0% 100%;
        --secondary: 82 50% 36%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 93 54% 48%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
    }
}


/* Prevent horizontal overflow */

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}


/* Ticker styles */

.ticker-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.ticker {
    display: inline-flex;
    white-space: nowrap;
    animation: ticker 30s linear infinite;
    will-change: transform;
}

.ticker.paused {
    animation-play-state: paused;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.33%);
        /* Adjust based on repeated content */
    }
}